/**************************************************************
*     ####         #                               #          * Jobuzzle - Copyright All rights reserved
*     ####         #                               #          *
*       ##  #####  ######  #     # ####### ####### #  #####   * @Author: revers
*       ## #     # #     # #     #      #       #  # #     #  *
*       ## #     # #     # #     #     #       #   # #     #  * @Date:   2015-10-10 16:47:11
*       ## #     # #     # #     #    #       #    # #     #  *
*       ## #     # #     # #     #   #       #     # ######   * @Last Modified by:   revers
*  ####### #     # #     # #     #  #       #      # #        *
*  ######   #####   ######  #####  ####### ####### # #######  * @Last Modified time: 2015-11-06 15:46:29
**************************************************************/

div.filter.timeline {
	display : inline-block;
	width: 100%;
	height: 100%;
	@include backgroundApp;

	div.moreInfo {
		text-align: center;
		margin-left : -20px;

		span.info {
			margin-left : 20px;
			i.fa {
				color : $secondary_color;
				margin-right: 5px;
			}
		}
		
	}

	&.load {
		div {
			width: 56px;
			height: 20px;
			position : absolute;
			left : 50%;
			top : 50%;
			margin-top: -10px;
			margin-left : -28px;
		}
	}

	div.type {
		position: absolute;
		right : 5px;
		top : 5px;
		z-index: 998;
		font-weight: 400;
		background: rgba($secondary_color, 0.7);
		padding : 0 4px;
		text-transform: uppercase;
		font-size : 12px;
		border : 1px solid rgba($primary_color, 0.5);
		border-radius: 2px;
	}

	div.parent {
		display : inline-block;
	}

	div.parent.name {
		display: inline-block;
		vertical-align: top;
		line-height: 44px;
		margin-left : 10px;
		width: calc(100% - 55px);
		white-space: nowrap;
		overflow: hidden;
		-o-text-overflow: ellipsis;
		text-overflow: ellipsis;
		height : 44px;
	}

	div.description {
		height: 125px;
		overflow: hidden;

		div.skilllinkContent {
			opacity: 0;
			@include animation('fadeIn 1s linear both');
		}
	}

	div.centerButton {
		margin-top : 10px;
	}

	div.loader_content_view div.loader {
		top : 50px;
	}
}