/**************************************************************
*     ####         #                               #          * Jobuzzle - Copyright All rights reserved
*     ####         #                               #          *
*       ##  #####  ######  #     # ####### ####### #  #####   * @Author: revers
*       ## #     # #     # #     #      #       #  # #     #  *
*       ## #     # #     # #     #     #       #   # #     #  * @Date:   2015-10-10 16:48:53
*       ## #     # #     # #     #    #       #    # #     #  *
*       ## #     # #     # #     #   #       #     # ######   * @Last Modified by:   revers
*  ####### #     # #     # #     #  #       #      # #        *
*  ######   #####   ######  #####  ####### ####### # #######  * @Last Modified time: 2015-11-10 02:23:24
**************************************************************/

div.filter.view {

	div.miniature {
		display: block;
		width: 160px;
		height: 160px;
		margin: 20px auto;
		border: 2px solid darken($white_color, 20);

		&.baseuser {
			border: 2px solid $secondary_color;
		}

		&.institute {
			border: 2px solid $primary_color;
		}
	}

	div.explain {
		display: inline-block;
		vertical-align: top;
		text-align: center;
		width: 100%;
		padding-bottom: 20px;

		div.name {
			display: block;
			vertical-align: top;
			color: $primary_color;
			font-size: 64px;
			font-weight: 200;
		}

		p.description {
			display: block;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
			color : darken($white_color, 35);
			width: 80%;
		}
	}
}