/**************************************************************
*     ####         #                               #          * Jobuzzle - Copyright All rights reserved
*     ####         #                               #          *
*       ##  #####  ######  #     # ####### ####### #  #####   * @Author: revers
*       ## #     # #     # #     #      #       #  # #     #  *
*       ## #     # #     # #     #     #       #   # #     #  * @Date:   2015-10-10 16:48:53
*       ## #     # #     # #     #    #       #    # #     #  *
*       ## #     # #     # #     #   #       #     # ######   * @Last Modified by:   revers
*  ####### #     # #     # #     #  #       #      # #        *
*  ######   #####   ######  #####  ####### ####### # #######  * @Last Modified time: 2015-10-10 23:38:54
**************************************************************/

div.filter.view {

	div.parent.view {
		div.picture {
			width: 160px;
			height: 190px;
			background-color: rgba($primary_color, 0.7);
			background-size: 100% 100%; 
			display: inline-block;
		}

		div.nameProfile {
			display: inline-block;
			vertical-align: top;
			margin-left: 20px;
			color: rgba(15,9,44,0.7);
			font-size: 26px;
			font-weight: bold;
		}
	}

	div.skilllinks {
		margin-top : 20px;
		padding: 10px;
		background-color : rgba($primary_color, 0.6);
		width: 50%;
	}
}